{% extends 'warehouse/warehouse.html' %}

{% block warehouse %}
    <div>
        <div class="tab-content">
            <!--BranchAccount transactions==============================================================================================================================-->
            <div class="tab-pane active" role="tabpanel" id="branchAccountTransaction">                
                <div class="container-fluid bg-gradient-light py-5 shadow">
                    <a href="{% url 'accounts' 'branch' %}" class="fa fa-arrow-left btn btn-outline-dark" style="color:black">Back</a>
                    <p style="float:right; text-align: justify; font-size: 18px"><span>Account: <b> {{account.accountName}}</b> ({{account.accountNumber}})<span> <br/><span>Account Balance: <i style="color: #c67605">GH&#8373</i><b> {{account.accountBalance}}</b></span></p>
                    <h3></h3>
                    <h4><span class="fa fa-money"></span> Transactions</h4>
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Count</th>
                                <th>Transaction Date</th>
                                <th>Transaction Types</th>
                                <th>Transaction ID</th>
                                <th>Narrations</th>
                                <th>Amount</th>                                
                                <th>Balance</th>
                                <th>Transaction By</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for account in transactions %}
                                <tr class="even gradeA">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ account.date}}</td>
                                    <td>{{ account.transactionType}}</td>
                                    <td>{{ account.transactionID}}</td>
                                    <td><p style="font-size: 13px">{{ account.narration}}</p></td>
                                    <td>{{ account.amount}}</td>
                                    <td>{{ account.balance}}</td>
                                    <td>{{ account.enteredBy.userRef.firstName}} {{ account.enteredBy.userRef.surname}} </br> {{ account.enteredBy.userID}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock warehouse %}






