{% extends 'warehouse/warehouse.html' %}


{% if not request.user_agent.is_mobile %}
    {% block warehouse %}
        <div>
            <ul class="nav nav-tabs" role="tablist">
                {% if uAccess.4 %}
                    <li class="nav-item" role="presentation"><a class="nav-link active fa fa-book" role="tab" data-bs-toggle="tab" href="#branchAccounts"> Branch Accounts</a></li>            
                {% endif %}
                
                {% if uAccess.402 %}
                    <li class="nav-item" role="presentation"><a class="nav-link fa fa-money" role="tab" data-bs-toggle="tab" href="#fundTransfer"> Transfer Fund</a></li>
                {% endif %}
            
                {% if uAccess.401 %}
                    <li class="nav-item" role="presentation"><a class="nav-link fa fa-money" role="tab" data-bs-toggle="tab" href="#overs"> Overs</a></li>
                {% endif %}
                
                {% if uAccess.400 %}
                    <li class="nav-item" role="presentation"><a class="nav-link fa fa-money" role="tab" data-bs-toggle="tab" href="#shortages"> Shortages</a></li>
                {% endif %}

                {% if uAccess.403 %}
                    <li class="nav-item" role="presentation"><a class="nav-link fa fa-money" role="tab" data-bs-toggle="tab" href="#depositAndWthdrawal"> Deposit & Withdrawal</a></li>
                {% endif %}
            
                {% if uAccess.404 %}
                    <li class="nav-item" role="presentation"><a class="nav-link fa fa-money" role="tab" data-bs-toggle="tab" href="#authorizeFundTransfer"> Authorize Transfered Funds</a></li>
                {% endif %}

                {% if uAccess.405 %}
                    <li class="nav-item" role="presentation"><a class="nav-link fa fa-money" role="tab" data-bs-toggle="tab" href="#onlinePayAcc"> Online Payment Accounts</a></li>
                {% endif %}
            </ul>
            <br/>
            <div class="tab-content">
                <!--Branch Accounts==============================================================================================================================-->
                <div class="tab-pane active" role="tabpanel" id="branchAccounts">
                    <div class="container-fluid bg-gradient-light py-5 shadow">
                        <h2><span class="fa fa-money"></span>Branch Accounts</h2>
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Count</th>
                                    <th>Accounts Type</th>
                                    <th>Account Name</th>
                                    <th>Account Number</th>                                
                                    <th>Account Balance</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for account in accounts %}
                                    <tr class="even gradeA">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ account.accountType}}</td>
                                        <td>{{ account.accountName}}</td>
                                        <td>{{ account.accountNumber}}</td>
                                        <td>{{ account.accountBalance|floatformat:2}}</td>
                                        <td class="center">
                                            <a href="{% url 'branchAccountTransactions' account.id %}" class="btn btn-outline-dark fa fa-book">Transactions</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--tranfer funds==============================================================================================================================-->
                <div class="tab-pane" role="tabpanel" id="fundTransfer">                
                    <div class="container-fluid bg-gradient-light py-5 shadow">
                        <p style="float:right; text-align: justify; font-size: 18px">Branch Account Balance: <i style="color: #c67605">GH&#8373</i> <b>{{branchAccountBal|floatformat:2}}</b></p>
                        <h4><span class="fa fa-money"></span> Transfer Fund</h4>
                        <form method="post" action="{% url 'transeferToSusoenseAccount' 'interBranch' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label" for="amount">Amount<b style="color: red">*</b></label>
                                    <input class="form-control" type="text" id="amount" name="amount" required>
                                    <p style="font-size: large;">Amount to be transfered</p>
                                    <hr/>
                                    <label class="form-label" for="narration">Narration<b style="color: red">*</b></label>
                                    <textarea class="form-control" id="narration" name="narration" rows="4" required></textarea>
                                    <p style="font-size: large;">Brief description of the transfer.</p> 
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="toAccount">To Account<b style="color: red">*</b></label>
                                    <select class="form-select" id="toAccount" required name="toAccount">
                                        <option value="">--Select Account--</option>
                                        {% for account in toAccounts %}   
                                            <option value="{{ account.accountNumber }}">{{ account.accountName}} - {{ account.accountNumber}}</option>
                                        {% endfor %}                                 
                                    </select>
                                    <p style="font-size: large;">To which account or branch are you transfering the fund.</p>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-md-6 button">
                                        <button class="btn btn-primary" type="submit">Transfer Fund</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <hr/>
                        <br/>
                        <h4><span class="fa fa-list"></span> Transfer List</h4>
                        
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example3">
                            <thead>
                                <tr>
                                    <th>Count</th>
                                    <th>Date</th>
                                    <th>Transaction ID</th>
                                    <th>Amount</th>
                                    <th>Source Account</th>
                                    <th>Destination Account</th>                                
                                    <th>Narration</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for fund in suspenseInterbranch %}
                                    <tr class="even gradeA">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ fund.date}}</td>
                                        <td>{{ fund.transactionID}}</td>
                                        <td>{{ fund.amount}}</td>
                                        <td>{{ fund.fromAccountRef.accountName}} <br/> <sup>{{ fund.fromAccountRef.accountNumber}}</sup></td>
                                        <td>{{ fund.toAccountRef.accountName}} <br/> <sup>{{ fund.toAccountRef.accountNumber}}</sup></td>
                                        <td>{{ fund.description}}</td>
                                        <td class="center">
                                            <a href="{% url 'deleteFundTransferFromBranch' fund.id %}" class="btn btn-outline-danger fa fa-remove">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

                <!--authorize fund tranfer==============================================================================================================================-->
                <div class="tab-pane" role="tabpanel" id="authorizeFundTransfer">                
                    <div class="container-fluid bg-gradient-light py-5 shadow">
                        <p style="float:right; text-align: justify; font-size: 18px">Total Fund to be authorized: <i style="color: #c67605">GH&#8373</i> <b>{{totalAmt|floatformat:2}}</b></p>
                        <h4><span class="fa fa-money"></span> Transfered Funds</h4>
                        <hr/>
                        <br/>
                        <h4><span class="fa fa-list"></span> Transfer List</h4>
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example4">
                            <thead>
                                <tr>
                                    <th>Count</th>
                                    <th>Date</th>
                                    <th>Transaction ID</th>
                                    <th>Amount</th>
                                    <th>Source Account</th>
                                    <th>Destination Account</th>                                
                                    <th>Narration</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for fund in suspenesAccountFunds %}
                                    <tr class="even gradeA">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ fund.date}}</td>
                                        <td>{{ fund.transactionID}}</td>
                                        <td>{{ fund.amount}}</td>
                                        <td>{{ fund.fromAccountRef.accountName}} <br/> <sup>{{ fund.fromAccountRef.accountNumber}}</sup></td>
                                        <td>{{ fund.toAccountRef.accountName}} <br/> <sup>{{ fund.toAccountRef.accountNumber}}</sup></td>
                                        <td>{{ fund.description}}</td>
                                        <td class="center">
                                            <a href="{% url 'authorizeFundTransfer' fund.option fund.id 'approve' %}" class="btn btn-outline-dark fa fa-check">Approve</a>
                                            <a href="{% url 'authorizeFundTransfer' fund.option fund.id 'reject' %}" class="btn btn-outline-danger fa fa-remove"> Reject</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--Shortage===================================================================================================================================-->
                <div class="tab-pane" role="tabpanel" id="shortages">
                        <div class="container-fluid bg-gradient-light py-5 shadow" style="color: black;">
                            <h2><span class="fa fa-money"></span> Shortages</h2>
                            <span style="float:right">Total Shortages: <i style="color: #c67605">GH&#8373</i><b>{{totalShortages|floatformat:2}}</b></span>
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example4">
                            <thead>
                                <tr>
                                    <th>Count</th>
                                    <th>Account Name</th>
                                    <th>Account Number</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for fund in shortages %}
                                    <tr class="even gradeA">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ fund.fromAccountRef.accountName}}</td>
                                        <td>{{ fund.fromAccountRef.accountNumber}}</td>
                                        <td>{{ fund.shortageAmount|floatformat:2}}</td>
                                        <td class="center">
                                            {% if fund.shortageAmount > 0 %}
                                                <a href="{% url 'shortagePayments' fund.id 'Pay' %}" class="btn btn-outline-dark fa fa-check">Pay For Shortage</a>
                                                <a href="{% url 'shortagePayments' fund.id 'Clear' %}" class="btn btn-outline-danger fa fa-remove">Clear Shortage</a>                                        
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>        
                    </div>
                </div>

                <!--overs===================================================================================================================================-->
                <div class="tab-pane" role="tabpanel" id="overs">
                        <div class="container-fluid bg-gradient-light py-5 shadow" style="color: black;">
                            <h2><span class="fa fa-money"></span> Overs</h2>
                            <span style="float:right">Total Overs: <i style="color: #c67605">GH&#8373</i><b>{{totalOvers}}</b></span>
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example4">
                            <thead>
                                <tr>
                                    <th>Count</th>
                                    <th>Account Name</th>
                                    <th>Account Number</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for fund in shortages %}
                                    <tr class="even gradeA">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ fund.fromAccountRef.accountName}}</td>
                                        <td>{{ fund.fromAccountRef.accountNumber}}</td>
                                        <td>{{ fund.overAmount}}</td>
                                        <td class="center">
                                            {% if fund.overAmount > 0 %}
                                                <a href="{% url 'moveOversToBranchAccount' fund.id %}" class="btn btn-outline-dark fa fa-check">Move Cash to Branch Acc</a>                                      
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>        
                    </div>
                </div>

                <!--Deposit and Withdrawal==============================================================================================================================-->
                <div class="tab-pane" role="tabpanel" id="depositAndWthdrawal">                
                    <div class="container-fluid bg-gradient-light py-5 shadow">
                        <p style="float:right; text-align: justify; font-size: 18px">Branch Account Balance: <i style="color: #c67605">GH&#8373</i> <b>{{branchAccountBal|floatformat:2}}</b></p>
                        <h4><span class="fa fa-money"></span> Deposit Or Withdrawal</h4>
                        <form method="post" action="{% url 'depositAndWithdrawalFromBranchAcc' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label" for="amount">Amount<b style="color: red">*</b></label>
                                    <input class="form-control" type="number" id="amount" name="amount" min="0" max="{{branchAccountBal}}" required>
                                    <p style="font-size: large;">Amount to be transacted</p>
                                    <hr/>
                                    <label class="form-label" for="narration">Narration<b style="color: red">*</b></label>
                                    <textarea class="form-control" id="narration" name="narration" rows="4" required></textarea>
                                    <p style="font-size: large;">Brief description of the transaction.</p> 
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="transactionType">Transaction Type<b style="color: red">*</b></label>
                                    <select class="form-select" id="transactionType" required name="transactionType">
                                        <option value="">--Select Account--</option>
                                        <option> Deposit</option>
                                        <option> Withdrawal</option>

                                    </select>
                                    <p style="font-size: large;">The kind of transaction to be performed (Deposit/Withdrawal)</p>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-md-6 button">
                                        <button class="btn btn-primary" type="submit">Save Transaction</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!--online Payment Account================================================================================================================-->
                <div class="tab-pane" role="tabpanel" id="onlinePayAcc">                
                    <div class="container-fluid bg-gradient-light py-5 shadow">
                        <h4><span class="fa fa-money"></span> Add Online Payment Accounts</h4>
                        <form method="post" action="{% url 'addOnlinePaymentAccounts' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label" for="accountNumber">Account Number<b style="color: red">*</b></label>
                                    <input class="form-control" type="text" id="accountNumber" name="accountNumber" required>
                                    <p style="font-size: large;">Bank account Number/MoMo Number</p>
                                    <hr/>

                                    <label class="form-label" for="accountName">Account Name<b style="color: red">*</b></label>
                                    <input class="form-control" type="text" id="accountName" name="accountName" required>
                                    <p style="font-size: large;">Name of the account</p> 
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label" for="accountType">Account Type<b style="color: red">*</b></label>
                                    <select class="form-select" id="accountType" required name="accountType">
                                    <option>Mobile Money Account</option>
                                    <option>Bank Account</option>
                                    </select>
                                    <p style="font-size: large;">Select whether the account is MoMo/Bank account</p>
                                    <hr/>

                                    <!-- Subscriber (MoMo only) -->
                                    <div id="subscriberField">
                                    <label class="form-label" for="subscriber">Subscriber<b style="color: red">*</b></label>
                                    <select class="form-select" id="subscriber" name="subscriber">
                                        <option>MTN</option>
                                        <option>Telecel</option>
                                        <option>AirtelTigo</option>
                                    </select>
                                    </div>

                                    <!-- Bank fields (Bank only) -->
                                    <div id="bankFields" style="display:none;">
                                    <label class="form-label" for="bankName">Bank Name<b style="color: red">*</b></label>
                                    <input class="form-control" type="text" id="bankName" name="bankName">

                                    <label class="form-label" for="bankbranch">Bank Branch<b style="color: red">*</b></label>
                                    <input class="form-control" type="text" id="bankbranch" name="bankbranch">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-md-6 button">
                                        <button class="btn btn-primary" type="submit">Save Account</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <hr/>
                        <h2><span class="fa fa-money"></span> Online Accounts</h2>
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example5">
                                <thead>
                                    <tr>
                                        <th>Count</th>
                                        <th>Account Name</th>
                                        <th>Account Number</th>
                                        <th>Account Type</th>
                                        <th>Other Details</th>
                                        <th>Date Created</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for acc in onlineAccounts %}
                                        <tr class="even gradeA">
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ acc.accountName}}</td>
                                            <td>{{ acc.accountNumber}}</td>
                                            <td>{{ acc.accountType}}</td>
                                            <td>{{ acc.subscriber}}  {{ acc.bankName}} <br/> {{ acc.bankBranchName}}</td>
                                            <td>{{ acc.date}}</td>
                                            <td class="center">
                                                <a href="{% url 'deleteOnlineAccount' acc.id %}" class="btn btn-outline-danger fa fa-remove">Remove</a> 
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                        </table>  
                    </div>
                </div>
            </div>
        </div>

        <script>
            const accountType = document.getElementById("accountType");
            const subscriberField = document.getElementById("subscriberField");
            const subscriberSelect = document.getElementById("subscriber");
            const bankFields = document.getElementById("bankFields");
            const bankName = document.getElementById("bankName");
            const bankBranch = document.getElementById("bankbranch");

            accountType.addEventListener("change", function() {
                if (this.value === "Mobile Money Account") {
                // Show subscriber, hide bank fields
                subscriberField.style.display = "block";
                subscriberSelect.setAttribute("required", "required");

                bankFields.style.display = "none";
                bankName.removeAttribute("required");
                bankBranch.removeAttribute("required");
                } else if (this.value === "Bank Account") {
                // Show bank fields, hide subscriber
                subscriberField.style.display = "none";
                subscriberSelect.removeAttribute("required");

                bankFields.style.display = "block";
                bankName.setAttribute("required", "required");
                bankBranch.setAttribute("required", "required");
                }
            });
        </script>
    {% endblock warehouse %}
    

    <!--Mobile View=================================================================================================================-->
    {% else %}
        {% block warehouseMobile %}
        <div style="width: 100%; margin-left: 0; margin-right: 0;">
            <ul class="nav nav-tabs" role="tablist">
                {% if uAccess.4 %}
                    <li class="nav-item" role="presentation"><a class="nav-link active fa fa-book" role="tab" data-bs-toggle="tab" href="#branchAccounts"> Branch Accounts</a></li>            
                {% endif %}
                
                {% if uAccess.402 %}
                    <li class="nav-item" role="presentation"><a class="nav-link fa fa-money" role="tab" data-bs-toggle="tab" href="#fundTransfer"> Transfer Fund</a></li>
                {% endif %}
            
                {% if uAccess.401 %}
                    <li class="nav-item" role="presentation"><a class="nav-link fa fa-money" role="tab" data-bs-toggle="tab" href="#overs"> Overs</a></li>
                {% endif %}
                
                {% if uAccess.400 %}
                    <li class="nav-item" role="presentation"><a class="nav-link fa fa-money" role="tab" data-bs-toggle="tab" href="#shortages"> Shortages</a></li>
                {% endif %}

                {% if uAccess.403 %}
                    <li class="nav-item" role="presentation"><a class="nav-link fa fa-money" role="tab" data-bs-toggle="tab" href="#depositAndWthdrawal"> Deposit & Withdrawal</a></li>
                {% endif %}
            
                {% if uAccess.404 %}
                    <li class="nav-item" role="presentation"><a class="nav-link fa fa-money" role="tab" data-bs-toggle="tab" href="#authorizeFundTransfer"> Authorize Transfered Funds</a></li>
                {% endif %}

                {% if uAccess.405 %}
                    <li class="nav-item" role="presentation"><a class="nav-link fa fa-money" role="tab" data-bs-toggle="tab" href="#onlinePayAcc"> Online Payment Accounts</a></li>
                {% endif %}
            </ul>
            <br/>
            <div class="tab-content" style="width: 100%; margin-left: 0; margin-right: 0;">
                <!--Branch Accounts==============================================================================================================================-->
                <div class="tab-pane active" role="tabpanel" id="branchAccounts" style="width: 100%; margin-left: 0; margin-right: 0;">
                    <div class="container-fluid bg-gradient-light py-5 shadow px-0">
                        <h2><span class="fa fa-money"></span> Branch Accounts</h2>

                        <div class="table-responsive mx-0 px-0">
                        <table class="table table-bordered table-hover w-100 mb-0" id="dataTables-example" style="width:100%;">
                            <!-- Hide header on mobile -->
                            <thead class="d-none d-md-table-header-group">
                            <tr>
                                <th>Branch Accounts</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for account in accounts %}
                            <tr>
                                <td>
                                <div class="card mb-2 shadow-sm w-100" style="margin-left:0; margin-right:0;">
                                    <div class="card-body p-2">
                                    <!-- Title -->
                                    <h6 class="card-title mb-1">
                                        <b style="color: black">{{ account.accountName }}</b>
                                    </h6>
                                    <!-- Badge for Account Type -->
                                    <span class="badge bg-secondary mb-2">{{ account.accountType }}</span>

                                    <!-- Details -->
                                    <p class="mb-1"><strong>Account Number:</strong> {{ account.accountNumber }}</p>
                                    <p class="mb-1"><strong>Balance:</strong> 
                                        <span class="badge bg-primary">{{ account.accountBalance|floatformat:2 }}</span>
                                    </p>

                                    <!-- Action -->
                                    <a href="{% url 'branchAccountTransactions' account.id %}" 
                                        class="btn btn-outline-dark fa fa-book w-100 mt-2">
                                        Transactions
                                    </a>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>


                <!--tranfer funds==============================================================================================================================-->
                <div class="tab-pane" role="tabpanel" id="fundTransfer">                
                <div class="container-fluid bg-gradient-light py-5 shadow px-0">
                    <p style="float:right; text-align: justify; font-size: 18px; margin-right: 15px;">
                    Branch Account Balance: 
                    <i style="color: #c67605">GH&#8373</i> 
                    <b>{{ branchAccountBal|floatformat:2 }}</b>
                    </p>
                    <h4><span class="fa fa-money"></span> Transfer Fund</h4>

                    <!-- Transfer Form -->
                    <form method="post" action="{% url 'transeferToSusoenseAccount' 'interBranch' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                        <label class="form-label" for="amount">Amount<b style="color: red">*</b></label>
                        <input class="form-control" type="text" id="amount" name="amount" required>
                        <p style="font-size: large;">Amount to be transferred</p>
                        <hr/>
                        <label class="form-label" for="narration">Narration<b style="color: red">*</b></label>
                        <textarea class="form-control" id="narration" name="narration" rows="4" required></textarea>
                        <p style="font-size: large;">Brief description of the transfer.</p> 
                        </div>
                        <div class="col-md-6">
                        <label class="form-label" for="toAccount">To Account<b style="color: red">*</b></label>
                        <select class="form-select" id="toAccount" required name="toAccount">
                            <option value="">--Select Account--</option>
                            {% for account in toAccounts %}   
                            <option value="{{ account.accountNumber }}">
                                {{ account.accountName }} - {{ account.accountNumber }}
                            </option>
                            {% endfor %}                                 
                        </select>
                        <p style="font-size: large;">To which account or branch are you transferring the fund.</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                        <div class="col-md-6 button">
                            <button class="btn btn-primary" type="submit">Transfer Fund</button>
                        </div>
                        </div>
                    </div>
                    </form>

                    <hr/>
                    <br/>
                    <h4><span class="fa fa-list"></span> Transfer List</h4>

                    <!-- Table A Layout -->
                    <div class="table-responsive mx-0 px-0">
                    <table class="table table-bordered table-hover w-100 mb-0" 
                            id="dataTables-example2" style="width:100%;">
                        <!-- Hide header on mobile -->
                        <thead class="d-none d-md-table-header-group">
                        <tr>
                            <th>Transfers</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fund in suspenseInterbranch %}
                        <tr>
                            <td>
                            <div class="card mb-2 shadow-sm w-100" style="margin-left:0; margin-right:0;">
                                <div class="card-body p-2">
                                <!-- Title -->
                                <h6 class="card-title mb-1">
                                    #{{ forloop.counter }} — Transaction ID: {{ fund.transactionID }}
                                </h6>
                                <span class="badge bg-primary mb-2">Date: {{ fund.date }}</span>

                                <!-- Details -->
                                <p class="mb-1"><strong>Amount:</strong> 
                                    <span class="badge bg-secondary">{{ fund.amount }}</span>
                                </p>
                                <p class="mb-1"><strong>Source:</strong> 
                                    {{ fund.fromAccountRef.accountName }} 
                                    <br><sup>{{ fund.fromAccountRef.accountNumber }}</sup>
                                </p>
                                <p class="mb-1"><strong>Destination:</strong> 
                                    {{ fund.toAccountRef.accountName }} 
                                    <br><sup>{{ fund.toAccountRef.accountNumber }}</sup>
                                </p>
                                <p class="mb-1"><strong>Narration:</strong> {{ fund.description }}</p>

                                <!-- Action -->
                                <div class="mt-2">
                                    <a href="{% url 'deleteFundTransferFromBranch' fund.id %}" 
                                    class="btn btn-outline-danger fa fa-remove w-100">
                                    Delete
                                    </a>
                                </div>
                                </div>
                            </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>


                <!--authorize fund tranfer==============================================================================================================================-->
                <div class="tab-pane" role="tabpanel" id="authorizeFundTransfer">                
                <div class="container-fluid bg-gradient-light py-5 shadow px-0">
                    <p style="float:right; text-align: justify;">
                    Total Fund to be authorized: 
                    <i style="color: #c67605">GH&#8373</i> 
                    <b>{{ totalAmt|floatformat:2 }}</b>
                    </p>
                    <h4><span class="fa fa-money"></span> Transferred Funds</h4>
                    <hr/>
                    <br/>
                    <h4><span class="fa fa-list"></span> Transfer List</h4>

                    <div class="table-responsive mx-0 px-0">
                    <table class="table table-bordered table-hover w-100 mb-0" 
                            id="dataTables-example4" style="width:100%;">
                        <!-- Hide header on mobile -->
                        <thead class="d-none d-md-table-header-group">
                        <tr>
                            <th>Transfers</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fund in suspenesAccountFunds %}
                        <tr>
                            <td>
                            <div class="card mb-2 shadow-sm w-100" style="margin-left:0; margin-right:0;">
                                <div class="card-body p-2">
                                <!-- Title -->
                                <h6 class="card-title mb-1">
                                    #{{ forloop.counter }} — Transaction ID: {{ fund.transactionID }}
                                </h6>
                                <span class="badge bg-primary mb-2">Date: {{ fund.date }}</span>

                                <!-- Details -->
                                <p class="mb-1"><strong>Amount:</strong> 
                                    <span class="badge bg-secondary">{{ fund.amount }}</span>
                                </p>
                                <p class="mb-1"><strong>Source:</strong> 
                                    {{ fund.fromAccountRef.accountName }} 
                                    <br><sup>{{ fund.fromAccountRef.accountNumber }}</sup>
                                </p>
                                <p class="mb-1"><strong>Destination:</strong> 
                                    {{ fund.toAccountRef.accountName }} 
                                    <br><sup>{{ fund.toAccountRef.accountNumber }}</sup>
                                </p>
                                <p class="mb-1"><strong>Narration:</strong> {{ fund.description }}</p>

                                <!-- Actions -->
                                <div class="d-flex gap-2 mt-2">
                                    <a href="{% url 'authorizeFundTransfer' fund.option fund.id 'approve' %}" 
                                    class="btn btn-outline-dark fa fa-check flex-fill">
                                    Approve
                                    </a>
                                    <a href="{% url 'authorizeFundTransfer' fund.option fund.id 'reject' %}" 
                                    class="btn btn-outline-danger fa fa-remove flex-fill">
                                    Reject
                                    </a>
                                </div>
                                </div>
                            </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>


                <!--Shortage===================================================================================================================================-->
                <div class="tab-pane" role="tabpanel" id="shortages">
                    <div class="container-fluid bg-gradient-light py-5 shadow px-0" style="color: black;">
                        <h2><span class="fa fa-money"></span> Shortages</h2>
                        <span> Total Shortages: <i style="color: #c67605">GH&#8373</i> <b>{{ totalShortages|floatformat:2 }}</b> </span>

                        <div class="table-responsive mx-0 px-0">
                        <table class="table table-bordered table-hover w-100 mb-0" 
                                id="dataTables-example5" style="width:100%;">
                            <!-- Hide header on mobile -->
                            <thead class="d-none d-md-table-header-group">
                            <tr>
                                <th style="display:none;">id</th>
                                <th>Shortages</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for fund in shortages %}
                            <tr>
                                <td style="display:none;">{{forloop.counter}}</td>
                                <td>
                                <div class="card mb-2 shadow-sm w-100" style="margin-left:0; margin-right:0;">
                                    <div class="card-body p-2">
                                    <!-- Title -->
                                    <h6 class="card-title mb-1">
                                        #{{ forloop.counter }} — {{ fund.fromAccountRef.accountName }}
                                    </h6>
                                    <p class="mb-1"><strong>Account Number:</strong> {{ fund.fromAccountRef.accountNumber }}</p>
                                    <p class="mb-1"><strong>Amount:</strong> 
                                        <span class="badge bg-danger">{{ fund.shortageAmount|floatformat:2 }}</span>
                                    </p>

                                    <!-- Actions -->
                                    {% if fund.shortageAmount > 0 %}
                                    <div class="d-flex gap-2 mt-2">
                                        <a href="{% url 'shortagePayments' fund.id 'Pay' %}" 
                                        class="btn btn-outline-dark fa fa-check flex-fill">
                                        Pay For Shortage
                                        </a>
                                        <a href="{% url 'shortagePayments' fund.id 'Clear' %}" 
                                        class="btn btn-outline-danger fa fa-remove flex-fill">
                                        Clear Shortage
                                        </a>
                                    </div>
                                    {% endif %}
                                    </div>
                                </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>


                <!--overs===================================================================================================================================-->
                <div class="tab-pane" role="tabpanel" id="overs">
                    <div class="container-fluid bg-gradient-light py-5 shadow" style="color: black;">
                        <h2><span class="fa fa-money"></span> Overs</h2>
                        <span>Total Overs: <i style="color: #c67605">GH&#8373</i> <b>{{ totalOvers }}</b> </span>
                        <div class="table-responsive mx-0 px-0">
                        <table class="table table-bordered table-hover w-100 mb-0" 
                                id="dataTables-example6" style="width:100%;">
                            <!-- Hide header on mobile -->
                            <thead class="d-none d-md-table-header-group">
                            <tr>
                                <th>Overs</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for fund in shortages %}
                            <tr>
                                <td>
                                <div class="card mb-2 shadow-sm w-100" style="margin-left:0; margin-right:0;">
                                    <div class="card-body p-2">
                                    <!-- Title -->
                                    <h6 class="card-title mb-1">
                                        #{{ forloop.counter }} — {{ fund.fromAccountRef.accountName }}
                                    </h6>
                                    <p class="mb-1"><strong>Account Number:</strong> {{ fund.fromAccountRef.accountNumber }}</p>
                                    <p class="mb-1"><strong>Amount:</strong> 
                                        <span class="badge bg-success">{{ fund.overAmount }}</span>
                                    </p>

                                    <!-- Action -->
                                    {% if fund.overAmount > 0 %}
                                    <div class="mt-2">
                                        <a href="{% url 'moveOversToBranchAccount' fund.id %}" 
                                        class="btn btn-outline-dark fa fa-check w-100">
                                        Move Cash to Branch Acc
                                        </a>
                                    </div>
                                    {% endif %}
                                    </div>
                                </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>


                <!--Deposit and Withdrawal==============================================================================================================================-->
                <div class="tab-pane" role="tabpanel" id="depositAndWthdrawal">                
                    <div class="container-fluid bg-gradient-light py-5 shadow">
                        <p style="float:right; text-align: justify; font-size: 18px">Branch Account Balance: <i style="color: #c67605">GH&#8373</i> <b>{{branchAccountBal|floatformat:2}}</b></p>
                        <h4><span class="fa fa-money"></span> Deposit Or Withdrawal</h4>
                        <form method="post" action="{% url 'depositAndWithdrawalFromBranchAcc' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label" for="amount">Amount<b style="color: red">*</b></label>
                                    <input class="form-control" type="number" id="amount" name="amount" min="0" max="{{branchAccountBal}}" required>
                                    <p style="font-size: large;">Amount to be transacted</p>
                                    <hr/>
                                    <label class="form-label" for="narration">Narration<b style="color: red">*</b></label>
                                    <textarea class="form-control" id="narration" name="narration" rows="4" required></textarea>
                                    <p style="font-size: large;">Brief description of the transaction.</p> 
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="transactionType">Transaction Type<b style="color: red">*</b></label>
                                    <select class="form-select" id="transactionType" required name="transactionType">
                                        <option value="">--Select Account--</option>
                                        <option> Deposit</option>
                                        <option> Withdrawal</option>

                                    </select>
                                    <p style="font-size: large;">The kind of transaction to be performed (Deposit/Withdrawal)</p>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-md-6 button">
                                        <button class="btn btn-primary" type="submit">Save Transaction</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <!--online Payment Account================================================================================================================-->
                <div class="tab-pane" role="tabpanel" id="onlinePayAcc">                
                    <div class="container-fluid bg-gradient-light py-5 shadow">
                        <h4><span class="fa fa-money"></span> Add Online Payment Accounts</h4>
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label" for="accountNumber">Account Number<b style="color: red">*</b></label>
                                    <input class="form-control" type="text" id="accountNumber" name="accountNumber" required>
                                    <p style="font-size: large;">Bank account Number/MoMo Number</p>
                                    <hr/>

                                    <label class="form-label" for="accountName">Account Name<b style="color: red">*</b></label>
                                    <input class="form-control" type="text" id="accountName" name="accountName" required>
                                    <p style="font-size: large;">Name of the account</p> 
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label" for="accountType">Account Type<b style="color: red">*</b></label>
                                    <select class="form-select" id="accountType" required name="accountType">
                                    <option value="momo">Mobile Money Account</option>
                                    <option value="bank">Bank Account</option>
                                    </select>
                                    <p style="font-size: large;">Select whether the account is MoMo/Bank account</p>
                                    <hr/>

                                    <!-- Subscriber (MoMo only) -->
                                    <div id="subscriberField">
                                    <label class="form-label" for="subscriber">Subscriber<b style="color: red">*</b></label>
                                    <select class="form-select" id="subscriber" name="subscriber">
                                        <option>MTN</option>
                                        <option>Telecel</option>
                                        <option>AirtelTigo</option>
                                    </select>
                                    </div>

                                    <!-- Bank fields (Bank only) -->
                                    <div id="bankFields" style="display:none;">
                                    <label class="form-label" for="bankName">Bank Name<b style="color: red">*</b></label>
                                    <input class="form-control" type="text" id="bankName" name="bankName">

                                    <label class="form-label" for="bankbranch">Bank Branch<b style="color: red">*</b></label>
                                    <input class="form-control" type="text" id="bankbranch" name="bankbranch">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-md-6 button">
                                        <button class="btn btn-primary" type="submit">Save Account</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>               
            </div>
        </div>
        
        <script>
            const accountType = document.getElementById("accountType");
            const subscriberField = document.getElementById("subscriberField");
            const subscriberSelect = document.getElementById("subscriber");
            const bankFields = document.getElementById("bankFields");
            const bankName = document.getElementById("bankName");
            const bankBranch = document.getElementById("bankbranch");

            accountType.addEventListener("change", function() {
                if (this.value === "Mobile Money Account") {
                // Show subscriber, hide bank fields
                subscriberField.style.display = "block";
                subscriberSelect.setAttribute("required", "required");

                bankFields.style.display = "none";
                bankName.removeAttribute("required");
                bankBranch.removeAttribute("required");
                } else if (this.value === "Bank Account") {
                // Show bank fields, hide subscriber
                subscriberField.style.display = "none";
                subscriberSelect.removeAttribute("required");

                bankFields.style.display = "block";
                bankName.setAttribute("required", "required");
                bankBranch.setAttribute("required", "required");
                }
            });
        </script>

                  <script>
              $(document).ready(function() {
                $('#dataTables-example').DataTable({
                  order: [[0, "desc"]],   // sort by Count column, descending
                  columnDefs: [
                    { targets: 0, visible: false } // hide Count column properly
                  ],
                  scrollX: true,          // allow horizontal scroll on small screens
                  responsive: false       // prevent auto-hiding
                });
              });
          </script>
    {% endblock warehouseMobile %}
{% endif %}
    








