{% extends "warehouse/warehouse.html" %}


{% if not request.user_agent.is_mobile %}
    {% block warehouse %}
    <div>
        <section>
            <div class="container-fluid bg-gradient-light py-5">
                <div class="row">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h3 class="fw-bold">Notice</h3>
                    </div>
                </div>
                <div class="py-5 p-lg-5">
                    <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                            <div class="col mb-5">
                                <div class="card shadow-sm">
                                    <div class="card-body px-4 py-5 px-md-5">
                                        <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;">
                                            <b class=" fa fa-book"></b>
                                        </div>
                                            <h5 class="fw-bold card-title">Total Transactions</h5>
                                            <p>Today's Transactions: <b>{{ totalTransactions }}</span></b></p>
                                    </div>
                                </div>
                            </div> 

                        <div class="col mb-5">
                            <div class="card shadow-sm">
                                <div class="card-body px-4 py-5 px-md-5">
                                    <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;">
                                        <b class=" fa fa-money"></b>
                                    </div>
                                        <h5 class="fw-bold card-title">Money</h5>
                                        <p>Cash On Hand: {{ cashOnHand }}</p>  
                                        <p>Shortages: {{ shortage }}</p>
                                        <p>Overages: {{ overs }}</p>
                                </div>
                            </div>
                        </div>  

                        <div class="col mb-5">
                            <div class="card shadow-sm">
                                <div class="card-body px-4 py-5 px-md-5">
                                    <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;">
                                        <b class=" fa fa-clock"></b>
                                    </div>
                                    <h5 class="fw-bold card-title">Active Time</h5>                                    
                                    {% if operationTime.operateAllTime %}
                                        <h4>Open 24 Hours</h4>
                                    {% else %}
                                        <h4>Opens at: <b>{{operationTime.fromTime}}</b></h4>
                                        <h4>Close at: <b>{{operationTime.toTime}}</b></h4>                              
                                    {% endif %}                                      
                                </div>
                            </div>
                        </div>

                        <div class="col mb-5">
                            <div class="card shadow-sm">
                                <div class="card-body px-4 py-5 px-md-5">
                                    <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;">
                                        <b class=" fa fa-print"></b>
                                    </div>
                                    <h5 class="fw-bold card-title">Current Printer: <b>{{assignedPrinter.printerRef.printerLabel}}</b> </h5>
                                    <form method='post' action="{% url 'salesSelectPrinter' %}">
                                        {% csrf_token %}
                                        <select class="form-select" name="printer" required>
                                            <option></option>
                                            {% for printer in printers %}
                                                <option value="{{printer.id}}">{{printer.printerLabel}}</option>                                        
                                            {% endfor %}                            
                                        </select>
                                        <div class="mb-3">
                                            <div class="row">
                                                <div class="col-md-6 button">
                                                    <button class="btn btn-outline-primary" type="submit">Select</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>                                                 
                                </div>
                            </div>
                        </div>

                        <div class="col mb-5">
                            <div class="card shadow-sm">
                                <div class="card-body px-4 py-5 px-md-5">
                                    <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;">
                                        <b class=" fa fa-globe"></b>
                                    </div>
                                        <h5 class="fw-bold card-title">Online Visibility</h5>                                        
                                        {% if operationTime.onlineVisibility %}
                                            <p class="text-success">Online</p>
                                        {% else %}
                                            <p class="text-danger">Offline</p>
                                        {% endif %}      
                                </div>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock warehouse %}

<!--Mobile View=================================================================================================================================-->    
{% else %}
    {% block warehouseMobile %}
        <div>
            <section>
                <div class="container-fluid bg-gradient-light py-5 px-0">
                    <div class="row">
                        <div class="col-md-8 col-xl-6 text-center mx-auto">
                            <h3 class="fw-bold">Notice</h3>
                        </div>
                    </div>
                    <div class="py-5 p-lg-5">
                        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                            <div class="col mb-5">
                                <div class="card shadow-sm">
                                    <div class="card-body px-4 py-5 px-md-5">
                                        <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;">
                                            <b class=" fa fa-book"></b>
                                        </div>
                                            <h5 class="fw-bold card-title">Total Transactions</h5>
                                            <p>Today's Transactions: <b>{{ totalTransactions }}</span></b></p>
                                    </div>
                                </div>
                            </div> 

                            <div class="col mb-5">
                                <div class="card shadow-sm">
                                    <div class="card-body px-4 py-5 px-md-5">
                                        <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;">
                                            <b class=" fa fa-money"></b>
                                        </div>
                                            <h5 class="fw-bold card-title">Money</h5>
                                            <p>Cash On Hand: <b><span class="badge bg-primary"><i style="color: #000000">GH&#8373</i> {{ cashOnHand|floatformat:2 }}</span></b></p>  
                                            <p>Shortages: <b><span class="badge bg-danger"><i style="color: #000000">GH&#8373</i> {{ shortage|floatformat:2 }}</span></b></p>
                                            <p>Overages: <b><span class="badge bg-success"><i style="color: #000000">GH&#8373</i> {{ overs|floatformat:2 }}</span></b></p>
                                    </div>
                                </div>
                            </div>  

                            <div class="col mb-5">
                                <div class="card shadow-sm">
                                    <div class="card-body px-4 py-5 px-md-5">
                                        <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;">
                                            <b class=" fa fa-clock"></b>
                                        </div>
                                        <h5 class="fw-bold card-title">Active Time</h5>                                    
                                        {% if operationTime.operateAllTime %}
                                            <h4>Open 24 Hours</h4>
                                        {% else %}
                                            <h4>Opens at: <b>{{operationTime.fromTime}}</b></h4>
                                            <h4>Close at: <b>{{operationTime.toTime}}</b></h4>                              
                                        {% endif %}                                                
                                    </div>
                                </div>
                            </div>

                            <div class="col mb-5">
                                <div class="card shadow-sm">
                                    <div class="card-body px-4 py-5 px-md-5">
                                        <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;">
                                            <b class=" fa fa-print"></b>
                                        </div>
                                        <h5 class="fw-bold card-title">Current Printer: <b>{{assignedPrinter.printerRef.printerLabel}}</b> </h5>
                                        <form method='post' action="{% url 'salesSelectPrinter' %}">
                                            {% csrf_token %}
                                            <select class="form-select" name="printer" required>
                                                <option></option>
                                                {% for printer in printers %}
                                                    <option value="{{printer.id}}">{{printer.printerLabel}}</option>                                        
                                                {% endfor %}                            
                                            </select>
                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md-6 button">
                                                        <button class="btn btn-outline-primary" type="submit">Select</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>                                                 
                                    </div>
                                </div>
                            </div>

                            <div class="col mb-5">
                                <div class="card shadow-sm">
                                    <div class="card-body px-4 py-5 px-md-5">
                                        <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;">
                                            <b class=" fa fa-globe"></b>
                                        </div>
                                        <h5 class="fw-bold card-title">Online Visibility</h5>
                                        
                                        {% if operationTime.onlineVisibility %}
                                            <p class="text-success">Online</p>
                                        {% else %}
                                            <p class="text-danger">Offline</p>
                                        {% endif %}
                                                                                                        
                                    </div>
                                </div>
                            </div>                
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% endblock warehouseMobile %}


{% endif %}


