{% extends "dashboardApp/rbms.html" %}
{% load static %}

{% block rbms %}
    {% if not request.user_agent.is_mobile %} 
        <!-- Desktop View =======================================================================================================================================-->
        <div class="desktop-only">
            <div id="wrapper">       
                <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark">
                    <div class="container-fluid d-flex flex-column p-0">
                        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                            <span class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon" style="overflow:hidden; width:2.5rem; height:2.5rem; flex-shrink:0;">
                                <img src="{% static 'img/rn360_4.jpeg' %}" alt="Brand" style="width:100%; height:100%; object-fit:cover; display:block;">
                            </span>
                            <div class="sidebar-brand-text mx-3">
                                <!--<span>{{request.session.busID}}</span><br/>-->
                                <span>{{request.session.branchID}}</span>
                            </div>
                        </a>
                        <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                        <hr class="sidebar-divider my-0">
                        <ul class="navbar-nav text-light" id="accordionSidebar">
                            <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}"><i class="fas fa-tachometer-alt"></i><span style="font-weight: bold; font-size: larger;">Dashboard</span></a></li>
                        
                        <!--For Retail & Wholesale Business ====================================================================================================================================-->
                        {% if request.session.branchType == "Retail & Wholesale Business" %}
                            {% if request.session.sellProducts %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'salesSelling' %}"><i class="fas fa-cart-plus"></i><span style="font-weight: bold; font-size: larger;">Sell</span></a></li>
                            {% endif %}

                            {% if request.session.salesRecords %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'salesSalesRecords' %}"><i class="fas fa-book"></i><span style="font-weight: bold; font-size: larger;">Sales Records</span></a></li>
                            {% endif %}

                            {% if request.session.repayments %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'salesRepayments' %}"><i class="fas fa-money"></i><span style="font-weight: bold; font-size: larger;">Repayments</span></a></li>
                            {% endif %}
                            
                            {% if request.session.refund %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'salesRefund' %}"><i class="fas fa-money"></i><span style="font-weight: bold; font-size: larger;">Awaiting Refunds</span></a></li>
                            {% endif %}
                        
                            {% if request.session.awaitingCollection %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'salesToBeCollectedItems' %}"><i class="fas fa-cart-plus"></i><span style="font-weight: bold; font-size: larger;">Awaiting Collection (Paid)</span></a></li>
                            {% endif %}

                            {% if request.session.onlineOrder %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'onlineOrderManager' %}"><i class="fas fa-cart-plus"></i><span style="font-weight: bold; font-size: larger;">Online Order</span></a></li>
                            {% endif %}

                            {% if request.session.cashAnalysis %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'cashAnalysis' %}"><i class="fas fa-money"></i><span style="font-weight: bold; font-size: larger;">Cash Analyses</span></a></li>
                            {% endif %}

                            {% if request.session.warehouseManagement %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'warehouse' %}"><i class="far fa-building"></i><span style="font-weight: bold; font-size: larger;">Warehouse</span></a></li>
                            {% endif %}

                            {% if request.session.userManagement %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'user' %}"><i class="fas fa-user"></i><span style="font-weight: bold; font-size: larger;">Users</span></a></li>
                            {% endif %}
                            
                            {% if request.session.branchManagement %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'businessSettings' %}"><i class="fas fa-building"></i><span style="font-weight: bold; font-size: larger;">Branches</span></a></li>
                            {% endif %}

                            {% if request.session.branchAccountManagement %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'accounts' 'branch' %}"><i class="fa fa-money"></i><span style="font-weight: bold; font-size: larger;">Branch Account</span></a></li>
                            {% endif %}

                            {% if request.session.businessAccountManagement %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'accounts' 'business' %}"><i class="fa fa-money"></i><span style="font-weight: bold; font-size: larger;">Business Account</span></a></li>
                            {% endif %}
                            
                            {% if request.session.operationalExpenses %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'expenses' %}"><i class="fas fa-money"></i><span style="font-weight: bold; font-size: larger;">Operation Expenses</span></a></li>
                            {% endif %}
                        
                            {% if request.session.customerRecords %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'salesCustomers' %}"><i class="fas fa-users"></i><span style="font-weight: bold; font-size: larger;">Customers</span></a></li>
                            {% endif %}
                        
                            {% if request.session.supplierRecords %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'salesSuppliers' %}"><i class="fas fa-users"></i><span style="font-weight: bold; font-size: larger;">Suppliers</span></a></li>                    
                            {% endif %}
                        
                            {% if request.session.performanceAnalysis %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'perfomanceAnalysis' %}"><i class="fas fa-bar-chart"></i><span style="font-weight: bold; font-size: larger;">Performance Analyses</span></a></li>
                            {% endif %}

                            {% if request.session.incomeStatement %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'salesIncomeState' %}"><i class="fas fa-money"></i><span style="font-weight: bold; font-size: larger;">Income Statement</span></a></li>
                            {% endif %}


                        <!--For Manufacturing Business ====================================================================================================================================-->
                        {% elif request.session.branchType == "Manufacturing Business" %}
                                <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Add Products</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Start New Production</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Production Processes</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Raw Material</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Finished Products</span></a></li>                    
                                <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Poduction Analyses</span></a></li>
                                        
                        <!--For Service Business ====================================================================================================================================-->
                        {% elif request.session.branchType == "Hotel Business" %}
                                <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Rooms</span></a></li> 
                                <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Bookings</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Guests</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Guest Services</span></a></li>
                            
                        <!--For Farming Business ====================================================================================================================================-->
                        {% elif request.session.branchType == "Farming Business" %}
                                <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Farming</span></a></li>
                            
                            
                            
                        <!--For Resturant & Bar Business ====================================================================================================================================-->                
                        {% elif request.session.branchType == "Resturant & Bar Business" %}  
                                <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Orders</span></a></li> 

                        <!--For Transportation Business ====================================================================================================================================-->    
                        {% elif request.session.branchType == "Transportation Business" %} 
                                <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Transport</span></a></li>



                        <!--For Event Management Business ====================================================================================================================================-->
                        {% elif request.session.branchType == "Event Management" %}  
                                <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Events</span></a></li>   


                        <!--For Real Estate Business ====================================================================================================================================-->
                        {% elif request.session.branchType == "Real Estate Business" %}  
                                <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Properties</span></a></li>

                    {% endif %}                
                                        
                        </ul>
                        <div class="text-center d-none d-md-inline"></div>
                    </div>
                </nav>

                <div class="d-flex flex-column" id="content-wrapper">
                    <div id="content">
                        <nav class="navbar navbar-expand bg-white shadow mb-4 topbar">
                            <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                                <!--<form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                                    <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..."><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                </form>-->
                                <h6 class="text-dark mb-1"><b>{{request.session.busName}}</b> ({{request.session.branchName}})</h6>
                                <ul class="navbar-nav flex-nowrap ms-auto">
                                    <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                        <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                            <form class="me-auto navbar-search w-100">
                                                <div class="input-group"><input class="bg-light border-0 form-control small" type="text" placeholder="Search for ..."><button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button></div>
                                            </form>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown no-arrow mx-1">
                                        <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                            <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                                <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                                    <div class="me-3">
                                                        <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                                    </div>
                                                    <div><span class="small text-gray-500">December 12, 2019</span>
                                                        <p>A new monthly report is ready to download!</p>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown no-arrow mx-1">
                                        <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">7</span><i class="fas fa-envelope fa-fw"></i></a>
                                            <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                                <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                                    <div class="dropdown-list-image me-3"><img class="rounded-circle" src="{% static 'img/welcomePic1' %}">
                                                        <div class="bg-success status-indicator"></div>
                                                    </div>
                                                    <div class="fw-bold">
                                                        <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                                        <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                            </div>
                                        </div>
                                        <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                                    </li>
                                    <div class="d-none d-sm-block topbar-divider"></div>
                                    <li class="nav-item dropdown no-arrow">
                                        <div class="nav-item dropdown no-arrow">
                                            <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                                                <span class="d-none d-lg-inline me-2 text-gray-600 small"> {{request.session.userNames}} <br/><sup style="color: burlywood;">{{request.session.userID}}</sup></span>
                                                <img class="border rounded-circle img-profile" src="{{ request.session.profileImage }}">
                                            </a>
                                            <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                                <a class="dropdown-item" href="{% url 'profile' %}">
                                                    <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile
                                                </a>
                                                    <a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a>
                                                    <a class="dropdown-item" href="{% url 'yourActivityLogs' %}"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity log</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="{% url 'logout' request.session.userID %}">
                                                    <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div class="container-fluid">
                            {% block index %}
                            
                            {% endblock index %}
                        </div>
                        <div data-reflow-type="order-status"></div><span data-reflow-type="view-cart" data-reflow-summary-type="dropdown"></span>
                    </div>
                    <footer class="bg-white sticky-footer">
                        <div class="container my-auto">
                            <div class="text-center my-auto copyright"><span>Copyright © Brand 2026</span></div>
                        </div>
                    </footer>
                </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
            </div>
        </div>
    
    {% else %}
        <!-- Mobile View ===================================================================================================================================-->
        <div class="mobile-only">
            <div id='wrapper'>               
                <div class="mobile-only d-flex flex-column" id="content-wrapper">
                    <div id="content">
                        <!-- Mobile Navbar -->
                    <nav class="navbar navbar-expand-md navbar-dark bg-gradient-primary w-100 shadow mb-3">
                        <div class="container-fluid">
                            <!-- Brand -->
                            <a class="navbar-brand" href="#">
                            <b>{{request.session.busName}}</b> ({{request.session.branchName}})
                            </a>

                            <!-- Hamburger Toggle -->
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileNav">
                            <span class="navbar-toggler-icon"></span>
                            </button>

                            <!-- Collapsible Menu -->
                            <div class="collapse navbar-collapse" id="mobileNav">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle w-100 mb-2" data-bs-toggle="dropdown" href="#">
                                        <b>{{request.session.userNames}}</b> <br/>                                        
                                        <img class="border rounded-circle img-profile" src="{{ request.session.profileImage }}" width="40" height="40">
                                        <b style="color: burlywood;">{{request.session.userID}}</b>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end shadow">
                                        <a class="dropdown-item" href="{% url 'profile' %}"><i class="fas fa-user"></i> Profile</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i> Settings</a>
                                        <a class="dropdown-item" href="{% url 'yourActivityLogs' %}"><i class="fas fa-list"></i> Activity log</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'logout' request.session.userID %}">
                                        <i class="fas fa-sign-out-alt"></i> Logout
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link w-100 mb-2" href="{% url 'dashboard' %}"><i class="fas fa-tachometer-alt"></i><b>Dashboard</b></a>
                                </li>
                            </li>
                            <!--For Retail & Wholesale Business ====================================================================================================================================-->
                            {% if request.session.branchType == "Retail & Wholesale Business" %}
                                        {% if request.session.sellProducts %}
                                            <li class="nav-item"><a class="nav-link" href="{% url 'salesSelling' %}"><i class="fas fa-cart-plus"></i><span style="font-weight: bold; font-size: larger;">Sell</span></a></li>
                                        {% endif %}

                                        {% if request.session.salesRecords %}
                                            <li class="nav-item"><a class="nav-link" href="{% url 'salesSalesRecords' %}"><i class="fas fa-book"></i><span style="font-weight: bold; font-size: larger;">Sales Records</span></a></li>
                                        {% endif %}

                                        {% if request.session.repayments %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'salesRepayments' %}"><i class="fas fa-money"></i><span style="font-weight: bold; font-size: larger;">Repayments</span></a></li>
                                        {% endif %}
                                        
                                        {% if request.session.refund %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'salesRefund' %}"><i class="fas fa-money"></i><span style="font-weight: bold; font-size: larger;">Awaiting Refunds</span></a></li>
                                        {% endif %}
                                    
                                        {% if request.session.awaitingCollection %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'salesToBeCollectedItems' %}"><i class="fas fa-cart-plus"></i><span style="font-weight: bold; font-size: larger;">Awaiting Collection (Paid)</span></a></li>
                                        {% endif %}

                                        {% if request.session.onlineOrder %}
                                            <li class="nav-item"><a class="nav-link" href="{% url 'onlineOrderManager' %}"><i class="fas fa-cart-plus"></i><span style="font-weight: bold; font-size: larger;">Online Order</span></a></li>
                                        {% endif %}

                                        {% if request.session.cashAnalysis %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'cashAnalysis' %}"><i class="fas fa-money"></i><span style="font-weight: bold; font-size: larger;">Cash Analyses</span></a></li>
                                        {% endif %}

                                        {% if request.session.warehouseManagement %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'warehouse' %}"><i class="far fa-building"></i><span style="font-weight: bold; font-size: larger;">Warehouse</span></a></li>
                                        {% endif %}

                                        {% if request.session.userManagement %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'user' %}"><i class="fas fa-user"></i><span style="font-weight: bold; font-size: larger;">Users</span></a></li>
                                        {% endif %}
                                        
                                        {% if request.session.branchManagement %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'businessSettings' %}"><i class="fas fa-building"></i><span style="font-weight: bold; font-size: larger;">Branches</span></a></li>
                                        {% endif %}

                                        {% if request.session.branchAccountManagement %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts' 'branch' %}"><i class="fa fa-money"></i><span style="font-weight: bold; font-size: larger;">Branch Account</span></a></li>
                                        {% endif %}

                                        {% if request.session.businessAccountManagement %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts' 'business' %}"><i class="fa fa-money"></i><span style="font-weight: bold; font-size: larger;">Business Account</span></a></li>
                                        {% endif %}
                                        
                                        {% if request.session.operationalExpenses %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'expenses' %}"><i class="fas fa-money"></i><span style="font-weight: bold; font-size: larger;">Operation Expenses</span></a></li>
                                        {% endif %}
                                    
                                        {% if request.session.customerRecords %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'salesCustomers' %}"><i class="fas fa-users"></i><span style="font-weight: bold; font-size: larger;">Customers</span></a></li>
                                        {% endif %}
                                    
                                        {% if request.session.supplierRecords %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'salesSuppliers' %}"><i class="fas fa-users"></i><span style="font-weight: bold; font-size: larger;">Suppliers</span></a></li>                    
                                        {% endif %}
                                    
                                        {% if request.session.performanceAnalysis %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'perfomanceAnalysis' %}"><i class="fas fa-bar-chart"></i><span style="font-weight: bold; font-size: larger;">Performance Analyses</span></a></li>
                                        {% endif %}

                                        {% if request.session.incomeStatement %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'salesIncomeState' %}"><i class="fas fa-money"></i><span style="font-weight: bold; font-size: larger;">Income Statement</span></a></li>
                                        {% endif %}


                                    <!--For Manufacturing Business ====================================================================================================================================-->
                                    {% elif request.session.branchType == "Manufacturing Business" %}
                                            <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Add Products</span></a></li>
                                            <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Start New Production</span></a></li>
                                            <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Production Processes</span></a></li>
                                            <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Raw Material</span></a></li>
                                            <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Finished Products</span></a></li>                    
                                            <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Poduction Analyses</span></a></li>
                                                    
                                    <!--For Service Business ====================================================================================================================================-->
                                    {% elif request.session.branchType == "Hotel Business" %}
                                            <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Rooms</span></a></li> 
                                            <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Bookings</span></a></li>
                                            <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Guests</span></a></li>
                                            <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Guest Services</span></a></li>
                                        
                                    <!--For Farming Business ====================================================================================================================================-->
                                    {% elif request.session.branchType == "Farming Business" %}
                                            <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Farming</span></a></li>
                                        
                                        
                                        
                                    <!--For Resturant & Bar Business ====================================================================================================================================-->                
                                    {% elif request.session.branchType == "Resturant & Bar Business" %}  
                                            <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Orders</span></a></li> 

                                    <!--For Transportation Business ====================================================================================================================================-->    
                                    {% elif request.session.branchType == "Transportation Business" %} 
                                            <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Transport</span></a></li>



                                    <!--For Event Management Business ====================================================================================================================================-->
                                    {% elif request.session.branchType == "Event Management" %}  
                                            <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Events</span></a></li>   


                                    <!--For Real Estate Business ====================================================================================================================================-->
                                    {% elif request.session.branchType == "Real Estate Business" %}  
                                            <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span style="font-weight: bold; font-size: larger;">Properties</span></a></li>

                                {% endif %}

                            </ul>
                            </div>
                        </div>
                        </nav>

                        <!-- Mobile Content -->
                        <div class="container-fluid">
                        {% block mobile %}
                        
                        {% endblock mobile %}
                        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
                        </div>

                        <footer class="bg-white sticky-footer mt-auto">
                        <div class="container my-auto">
                            <div class="text-center my-auto copyright">
                            <span>Copyright © Brand 2026</span>
                            </div>
                        </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock rbms %}


