{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- start: Meta -->
	<title>RN360B</title>
	<meta charset="utf-8">	
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Bootstrap RN360B Dashboard">
	<meta name="author" content="RN360B">
	<!-- end: Meta -->

	<!-- end: Mobile Specific -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
		<link rel="stylesheet" href="{% static 'font/font-awesome.min.css' %}" type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/Banner-Heading-Image-images.css' %}">
		<link rel="stylesheet" href="{% static 'css/Features-Cards-icons.css' %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">

		<link href="{% static 'css/metisMenu.min.css' %}" rel="stylesheet">		
		<link href="{% static 'css/morris.css' %}" rel="stylesheet">		
		<link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/dataTables.responsive.css' %}" rel="stylesheet">
		<link href="{% static 'css/dataTables.bootstrap.css' %}" rel="stylesheet">
	    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
		
		<!--install the website as an app-->
		<link rel="manifest" href="{% static 'manifest.json' %}">
		<meta name="theme-color" content="#0d6efd">
		
		<!-- detect screen size -->
		<style>
		/* Default states */
		.desktop-only { display: block; }
		.mobile-only { display: none; }

		/* Mobile override */
		@media (max-width: 768px) {
			.desktop-only { display: none; }
			.mobile-only { display: block; }
		}
		</style>

		<!--<style>
			#pageLoader {
				transition: opacity 0.5s ease;
				}
				#pageLoader.hidden {
				opacity: 0;
				pointer-events: none;
			}
		</style>-->
</head>
<body class="bg-gradient-light" id="page-top" style="background-image: url({% static 'img/rn360BK.png' %});">
	<!-- Busy overlay -->
	<!--<div id="pageLoader" class="d-flex justify-content-center align-items-center"
		style="position:fixed; top:0; left:0; width:100%; height:100%;
				background:rgba(255,255,255,0.9); z-index:9999;">
		<div class="spinner-border text-primary" role="status" style="width:3rem; height:3rem;">
		  <span class="visually-hidden">Loading...</span>
		</div>
	</div>-->
	{% block rbms %}

	{% endblock rbms %}
	<!-- start: JavaScript-->
	     <script src="{% static 'js/bootstrap.min.js' %}"></script>
		 <script src="{% static 'js/jquery.min.js' %}"></script>
		 <script src="{% static 'js/bs-init.js' %}"></script>
		 <script src="{% static 'js/theme.js' %}"></script>
		 <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
		 <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
		 <script src="{% static 'js/dataTables.responsive.js' %}"></script>
		 <script src="{% static 'js/dataTables.material.min.js' %}"></script>
		 <script src="{% static 'js/dataTables.semanticui.min.js' %}"></script>
		 <script src="{% static 'js/rbms.js' %}"></script>
		 <script src="{% static 'js/chart.js' %}"></script>
		 <script src="{% static 'js/perfomanceAnalysis.js' %}"></script> 
		 <script src="{% static 'js/identifyActiveTabPan.js' %}"></script>

		<!--Busy overlay-->
		 <!--<script>
			window.addEventListener("load", function() {
				const loader = document.getElementById("pageLoader");
				loader.classList.add("hidden");
				setTimeout(() => loader.style.display = "none", 500);
			});
		</script>-->
		 	 
	 
		<script>
			$(document).ready(function() {
				$('#dataTables-example').DataTable({responsive: true});
				$('#dataTables-example2').DataTable({responsive: true});
				$('#dataTables-example3').DataTable({responsive: true});
				$('#dataTables-example4').DataTable({responsive: true});
				$('#dataTables-example5').DataTable({responsive: true});
				$('#dataTables-example6').DataTable({responsive: true});
				$('#dataTables-example7').DataTable({responsive: true});
				$('#dataTables-example8').DataTable({responsive: true});
				$('#dataTables-example9').DataTable({responsive: true});
				$('#dataTables-example10').DataTable({responsive: true});
			});
		</script>
		<!--for the website installation-->
		<script>
			if ("serviceWorker" in navigator) {
			navigator.serviceWorker.register("{% static 'service-worker.js' %}")
				.then(reg => console.log("Service Worker registered:", reg))
				.catch(err => console.error("Service Worker failed:", err));
			}
		</script> 	
</body>
</html>

