{% extends "dashboardApp/index.html" %}

{% block index %}
<section>
    <div class="container-fluid bg-gradient-light py-5 shadow">
        <a href="{% url 'user' %}" class="btn btn-outline-dark fa fa-backwad-arrow">Back</a>
        <h4 class="fw-bold">Access and Role for : <b>{{user.userRef.firstName}} {{user.userRef.surname}}</b> (<i style="color: goldenrod;">{{user.userID}}</i>)</h4>
        <div class="row">
            <div class="col-md-8 col-xl-6 text-center mx-auto">

            </div>
        </div>
        <div class="py-5 p-lg-5">
            <div class="card-body">
                {% if uAccess.103 %}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="opt" value="branch"/>
                    <div class="row">
                        <div class="col-md-6">
                            <h3><u><b>Change Branch</b></u></h3>
                            <h5>Current Branch: <b>{{user.busRef.branchName}} ({{user.busRef.branchID}})</b></h5>
                            <label>Select Branch</label>
                            <form method="post">
                                <select name="currentBranch" class="form-control" style="width: 50%;" required>
                                    <option></option>
                                    {% for dat in branches %}
                                    <option value="{{dat.branchID}}">{{dat.branchName}} ({{dat.branchID}})</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-outline-primary fa fa-circle">Change Branch</button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <p style="font-size: xx-large;"><b>NOTE: </b>User will not have access to the resources of the current branch after being changed</p>
                        </div>
                    </div>
                    <hr/>
                </form>
                {% endif %}

                {% if uAccess.102 %}
                <div class="row">

                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="opt" value="accessLevel"/>
                        <div class="row">
                            <div class="col-md-6">
                                <h3><u><b>Administrator Access Level</b></u></h3>
                                <h5>This user is an administrator: <b>{{user.userIsAdmin}}</b></h5>
                                <label>Do you want to make this user an administrator?</label>
                                <form method="post">
                                    <select name="accessLevel" class="form-control" style="width: 50%;" required>
                                        <option></option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                    <button type="submit" class="btn btn-outline-primary fa fa-circle">Change Level</button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <p style="font-size: xx-large;"><b>NOTE: </b>After Making this user an administrator, he/she can access all modules</p>
                            </div>
                        <hr/>
                    </form>

                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="opt" value="disableUser"/>
                        <div class="row">
                            <div class="col-md-6">
                                <h3><u><b>Set User Status</b></u></h3>
                                <h5>Current Status: <b>{{user.status}}</b></h5>
                                <label>Seelect Status</label>
                                <form method="post">
                                    <select name="disableUser" class="form-control" style="width: 50%;" required>
                                        <option></option>
                                        <option value="Disabled">Disable</option>
                                        <option value="Enabled">Enable</option>
                                    </select>
                                    <button type="submit" class="btn btn-outline-primary fa fa-circle">Disable User</button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <p style="font-size: xx-large;"><b>NOTE: </b>After Disabled this user, the user will not have access to log in again until enabled.
                                   <br/><i style="color: saddlebrown;">You cannot disable a user with an <u>Administrator Access Level</u></i>
                                </p>
                            </div>
                        <hr/>
                    </form>

                    <h3><u><b>Add or Remove Access</b></u></h3>
                    <div class="col-md-6">
                        <form method="post">
                            {% csrf_token %}
                            <h5 class="text-center text-primary"><u>Add User Access</u></h5>
                            <button type="submit" class="btn btn-outline-primary fa fa-plus">Add Access</button>
                            <input type="hidden" name="opt" value="add"/>

                            <h3 style="color:black">User Management</h3>
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Count</th>
                                        <th>Access Title</th>
                                        <th>Access Description</th>
                                        <th>Select</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dat in access %}
                                        {% if dat.accessGroupCode == '1' and dat.accessCode == '1' %}
                                            <tr class="even gradeA">
                                                <td style="color: green">{{ forloop.counter }}</td>
                                                <td style="color: green">{{ dat.accessTitle }}<br/><sup style="color: green;">Base Access</sup></td>
                                                <td style="color: green">{{ dat.accessDescription }}</td>
                                                <td style="color: green"><input type="checkbox" name="access" class="form-check" value="{{dat.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}

                                    {% for dat in access %}
                                        {% if dat.accessGroupCode == '1' and not dat.accessCode == '1' %}
                                            <tr class="even gradeA">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ dat.accessTitle }}<br/><sup>{{dat.accessCode}}</sup></td>
                                                <td>{{ dat.accessDescription }}</td>
                                                <td><input type="checkbox" name="access" class="form-check" value="{{dat.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>

                            <hr/>
                            <h3 style="color:black">Business Branches Management</h3>
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>

                                </thead>
                                <tbody>
                                    {% for dat in access %}
                                        {% if dat.accessGroupCode == '2' and dat.accessCode == '2' %}
                                            <tr class="even gradeA">
                                                <td style="color: green">{{ forloop.counter }}</td>
                                                <td style="color: green">{{ dat.accessTitle }}<br/><sup style="color: green;">Base Access</sup></td>
                                                <td style="color: green">{{ dat.accessDescription }}</td>
                                                <td style="color: green"><input type="checkbox" name="access" class="form-check" value="{{dat.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                    {% for dat in access %}
                                        {% if dat.accessGroupCode == '2' and not dat.accessCode == '2'  %}
                                            <tr class="even gradeA">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ dat.accessTitle }}<br/><sup>{{dat.accessCode}}</sup></td>
                                                <td>{{ dat.accessDescription }}</td>
                                                <td><input type="checkbox" name="access" class="form-check" value="{{dat.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                            <hr/>
                            <h3 style="color:black">Warehouse/Product Management</h3>
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>

                                </thead>
                                <tbody>
                                    {% for dat in access %}
                                        {% if dat.accessGroupCode == '3' and dat.accessCode == '3' %}
                                            <tr class="even gradeA">
                                                <td style="color: green">{{ forloop.counter }}</td>
                                                <td style="color: green">{{ dat.accessTitle }}<br/><sup style="color: green;">Base Access</sup></td>
                                                <td style="color: green">{{ dat.accessDescription }}</td>
                                                <td style="color: green"><input type="checkbox" name="access" class="form-check" value="{{dat.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                    {% for dat in access %}
                                        {% if dat.accessGroupCode == '3' and not dat.accessCode == '3'  %}
                                            <tr class="even gradeA">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ dat.accessTitle }}<br/><sup>{{dat.accessCode}}</sup></td>
                                                <td>{{ dat.accessDescription }}</td>
                                                <td><input type="checkbox" name="access" class="form-check" value="{{dat.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                            <hr/>
                            <h3 style="color:black">Branch Accounts Management</h3>
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>

                                </thead>
                                <tbody>
                                    {% for dat in access %}
                                        {% if dat.accessGroupCode == '4' and dat.accessCode == '4' %}
                                            <tr class="even gradeA">
                                                <td style="color: green">{{ forloop.counter }}</td>
                                                <td style="color: green">{{ dat.accessTitle }}<br/><sup style="color: green;">Base Access</sup></td>
                                                <td style="color: green">{{ dat.accessDescription }}</td>
                                                <td style="color: green"><input type="checkbox" name="access" class="form-check" value="{{dat.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                    {% for dat in access %}
                                        {% if dat.accessGroupCode == '4' and not dat.accessCode == '4'  %}
                                            <tr class="even gradeA">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ dat.accessTitle }}<br/><sup>{{dat.accessCode}}</sup></td>
                                                <td>{{ dat.accessDescription }}</td>
                                                <td><input type="checkbox" name="access" class="form-check" value="{{dat.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                            <hr/>
                            <h3 style="color:black">Business Account Management</h3>
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>

                                </thead>
                                <tbody>
                                    {% for dat in access %}
                                        {% if dat.accessGroupCode == '5' and dat.accessCode == '5' %}
                                            <tr class="even gradeA">
                                                <td style="color: green">{{ forloop.counter }}</td>
                                                <td style="color: green">{{ dat.accessTitle }}<br/><sup style="color: green;">Base Access</sup></td>
                                                <td style="color: green">{{ dat.accessDescription }}</td>
                                                <td style="color: green"><input type="checkbox" name="access" class="form-check" value="{{dat.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                    {% for dat in access %}
                                        {% if dat.accessGroupCode == '5' and not dat.accessCode == '5'  %}
                                            <tr class="even gradeA">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ dat.accessTitle }}<br/><sup>{{dat.accessCode}}</sup></td>
                                                <td>{{ dat.accessDescription }}</td>
                                                <td><input type="checkbox" name="access" class="form-check" value="{{dat.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            <hr/>
                            <h3 style="color:black">Other access</h3>
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>

                                </thead>
                                <tbody>
                                    {% for dat in access %}
                                        {% if not dat.accessGroupCode == '1' and not dat.accessGroupCode == '2' and not dat.accessGroupCode == '3' and not dat.accessGroupCode == '4' and not dat.accessGroupCode == '5' %}
                                            <tr class="even gradeA">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ dat.accessTitle }}<br/><sup>{{dat.accessCode}}</sup></td>
                                                <td>{{ dat.accessDescription }}</td>
                                                <td><input type="checkbox" name="access" class="form-check" value="{{dat.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>

                            <button type="submit" class="btn btn-outline-primary fa fa-plus">Add Access</button>
                        </form>
                    </div>                    


                    

                    <div class="col-md-6">
                        <form method="post">
                            {% csrf_token %}
                            <h5 class="text-center text-danger"><u>Remove User Access</u></h5>
                            <button type="submit" class="btn btn-outline-danger fa fa-remove">Remove Access</button>
                            <input type="hidden" name="opt" value="remove"/>
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Count</th>
                                        <th>Access Title</th>
                                        <th>Access Description</th>
                                        <th>Select</th>
                                    </tr>
                                </thead>
                            </table>

                            {% if checkGroup.1 %}
                               <h3 style="color:black">User Management</h3>                            
                            {% endif %}                         
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>

                                </thead>
                                <tbody>
                                    {% for dat in userAccess %}
                                        {% if dat.accessRef.accessGroupCode == '1' and dat.accessRef.accessCode == '1' %}
                                            <tr class="even gradeA">
                                                <td style="color: green">{{ forloop.counter }}</td>
                                                <td style="color: green">{{ dat.accessRef.accessTitle }}<br/><sup style="color: green;">Base Access</sup></td>
                                                <td style="color: green">{{ dat.accessRef.accessDescription }}</td>
                                                <td style="color: green"><input type="checkbox" name="access" class="form-check" value="{{dat.accessRef.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}

                                    {% for dat in userAccess %}
                                        {% if dat.accessRef.accessGroupCode == '1' and not dat.accessRef.accessCode == '1' %}
                                            <tr class="even gradeA">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ dat.accessRef.accessTitle }}<br/><sup>{{dat.accessRef.accessCode}}</sup></td>
                                                <td>{{ dat.accessRef.accessDescription }}</td>
                                                <td><input type="checkbox" name="access" class="form-check" value="{{dat.accessRef.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>                           

                            {% if checkGroup.2 %}
                               <hr/>
                               <h3 style="color:black">Business Branches Management</h3>                            
                            {% endif %}                              
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>

                                </thead>
                                <tbody>
                                    {% for dat in userAccess %}
                                        {% if dat.accessRef.accessGroupCode == '2' and dat.accessRef.accessCode == '2' %}
                                            <tr class="even gradeA">
                                                <td style="color: green">{{ forloop.counter }}</td>
                                                <td style="color: green">{{ dat.accessRef.accessTitle }}<br/><sup style="color: green;">Base Access</sup></td>
                                                <td style="color: green">{{ dat.accessRef.accessDescription }}</td>
                                                <td style="color: green"><input type="checkbox" name="access" class="form-check" value="{{dat.accessRef.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                    {% for dat in userAccess %}
                                        {% if dat.accessRef.accessGroupCode == '2' and not dat.accessRef.accessCode == '2'  %}
                                            <tr class="even gradeA">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ dat.accessRef.accessTitle }}<br/><sup>{{dat.accessRef.accessCode}}</sup></td>
                                                <td>{{ dat.accessRef.accessDescription }}</td>
                                                <td><input type="checkbox" name="access" class="form-check" value="{{dat.accessRef.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>                            
                            
                            {% if checkGroup.3 %}
                               <hr/>
                               <h3 style="color:black">Warehouse/Product Management</h3>                            
                            {% endif %} 
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>

                                </thead>
                                <tbody>
                                    {% for dat in userAccess %}
                                        {% if dat.accessRef.accessGroupCode == '3' and dat.accessRef.accessCode == '3' %}
                                            <tr class="even gradeA">
                                                <td style="color: green">{{ forloop.counter }}</td>
                                                <td style="color: green">{{ dat.accessRef.accessTitle }}<br/><sup style="color: green;">Base Access</sup></td>
                                                <td style="color: green">{{ dat.accessRef.accessDescription }}</td>
                                                <td style="color: green"><input type="checkbox" name="access" class="form-check" value="{{dat.accessRef.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                    {% for dat in userAccess %}
                                        {% if dat.accessRef.accessGroupCode == '3' and not dat.accessRef.accessCode == '3'  %}
                                            <tr class="even gradeA">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ dat.accessRef.accessTitle }}<br/><sup>{{dat.accessRef.accessCode}}</sup></td>
                                                <td>{{ dat.accessRef.accessDescription }}</td>                                      
                                                <td><input type="checkbox" name="access" class="form-check" value="{{dat.accessRef.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>                            
                            
                            {% if checkGroup.4 %}
                               <hr/>
                               <h3 style="color:black">Branch Accounts Management</h3>                           
                            {% endif %} 
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>

                                </thead>
                                <tbody>
                                    {% for dat in userAccess %}
                                        {% if dat.accessRef.accessGroupCode == '4' and dat.accessRef.accessCode == '4' %}
                                            <tr class="even gradeA">
                                                <td style="color: green">{{ forloop.counter }}</td>
                                                <td style="color: green">{{ dat.accessRef.accessTitle }}<br/><sup style="color: green;">Base Access</sup></td>
                                                <td style="color: green">{{ dat.accessRef.accessDescription }}</td>
                                                <td style="color: green"><input type="checkbox" name="access" class="form-check" value="{{dat.accessRef.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                    {% for dat in userAccess %}
                                        {% if dat.accessRef.accessGroupCode == '4' and not dat.accessRef.accessCode == '4'  %}
                                            <tr class="even gradeA">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ dat.accessRef.accessTitle }}<br/><sup>{{dat.accessRef.accessCode}}</sup></td>
                                                <td>{{ dat.accessRef.accessDescription }}</td>
                                                <td><input type="checkbox" name="access" class="form-check" value="{{dat.accessRef.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>

                            {% if checkGroup.5 %}
                               <hr/>
                               <h3 style="color:black">Business Account Management</h3>                          
                            {% endif %} 
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>

                                </thead>
                                <tbody>
                                    {% for dat in userAccess %}
                                        {% if dat.accessRef.accessGroupCode == '5' and dat.accessRef.accessCode == '5' %}
                                            <tr class="even gradeA">
                                                <td style="color: green">{{ forloop.counter }}</td>
                                                <td style="color: green">{{ dat.accessRef.accessTitle }}<br/><sup style="color: green;">Base Access</sup></td>
                                                <td style="color: green">{{ dat.accessRef.accessDescription }}</td>
                                                <td style="color: green"><input type="checkbox" name="access" class="form-check" value="{{dat.accessRef.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                    {% for dat in userAccess %}
                                        {% if dat.accessRef.accessGroupCode == '5' and not dat.accessRef.accessCode == '5'  %}
                                            <tr class="even gradeA">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ dat.accessRef.accessTitle }}<br/><sup>{{dat.accessRef.accessCode}}</sup></td>
                                                <td>{{ dat.accessRef.accessDescription }}</td>
                                                <td><input type="checkbox" name="access" class="form-check" value="{{dat.accessRef.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>

                            {% if checkGroup.6 %}
                               <hr/>
                               <h3 style="color:black">Other access</h3>                         
                            {% endif %} 
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>

                                </thead>
                                <tbody>
                                    {% for dat in userAccess %}
                                        {% if not dat.accessRef.accessGroupCode == '1' and not dat.accessRef.accessGroupCode == '2' and not dat.accessRef.accessGroupCode == '3' and not dat.accessRef.accessGroupCode == '4' and not dat.accessRef.accessGroupCode == '5' %}
                                            <tr class="even gradeA">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ dat.accessRef.accessTitle }}<br/><sup>{{dat.accessRef.accessCode}}</sup></td>
                                                <td>{{ dat.accessRef.accessDescription }}</td>
                                                <td><input type="checkbox" name="access" class="form-check" value="{{dat.accessRef.accessCode}}" style="width: 50px; height: 50px;"/></td>                                           
                                            </tr>                                        
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>

                            {% if hideRemoveButton %}
                               <button type="submit" class="btn btn-outline-danger fa fa-remove">Remove Access</button>
                            {% endif %}
                        </form>       
                    </div>
                </div>
                {% endif %}
                <br/>
        </div>
    </div>
</section>
{% endblock index %}