{% extends 'dashboardApp/welcome.html' %}

{% block welcome %}
    <div id="headerwrap">
  <header class="clearfix">
    <div class="container">
      <div class="row">
        <div class="span12">
            {% if state == 'passwordNotSet' %}
                <form method="post" action="">
                    {% csrf_token %}
                    <h1 style="color: darkgoldenrod">Set a new password</h1>
                    <hr/>
                    <h2>Enter Password</h2>
                    <input type="password" name="pass1" placeholder="Password" class="cform-text" size="20" title="new password" required>
                    <h2>Confirm Password</h2>
                    <input type="password" name="pass2" placeholder="Confirm Password" class="cform-text" size="20" title="confirm password" required>
                    <br/>
                    <hr/>
                    <input type="submit" value="Save" class="cform-submit">
                </form>
            {% elif state == 'passwordsNotMatch' %}
                <div class="text-danger">
                   <h1 style="color: darkgoldenrod">Passwords do not match!</h1>
                   <h2 style="color: red">Try again!</h2>
                   <a href="{% url 'createPassword' %}" class="btn btn-outline-danger" style="background-color: goldenrod">Ok</a>
                </div>
            {% endif %}
        </div>
      </div>
    </div>
  </header>
</div>
{% endblock %}