{% extends "dashboardApp/index.html" %}


{% if not request.user_agent.is_mobile %}
    {% block index %}
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <a href="{% url 'profile' %}" class="btn btn-outline-dark fa fa-backwad-arrow">Back</a>
            </ul>
            <br/>
            <div class="tab-content">
                <div class="container bg-gradient-light py-5 shadow">
                    <h2><span class="fa fa-list"></span> Upload Profile Picture</h2> 
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" enctype="multipart/form-data" style="width: 30%">
                                {% csrf_token %}
                                <label class="form-label" for="sellingPrice">Select Image <b style="color: red">*</b></label>
                                <input type="file" class="form-control" name="upload" id="electImage" onchange="loadImage(event)" accept="image/*" required>                                                
                                <div class="card shadow-sm">
                                    <img src="{{ image.image.url }}" class="card-img-top img-fluid" id="electImageOutput" alt="Product Image" height="60" width="60">
                                    <div class="card-body p-2">
                                        <p class="mb-0"><small>Uploaded on {{ image.date|date:"Y-m-d H:i" }}</small></p>
                                    </div>
                                </div>
                                <button type="submit">Upload</button>
                            </form>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        <script>
            var loadImage = function (event){
                var image = document.getElementById('electImageOutput');
                image.src = URL.createObjectURL(event.target.files[0]);    }
        </script>
    {% endblock index %}

    <!--Mobile =====================================================================================================-->
    {% else %}
        {% block mobile %}
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <a href="{% url 'profile' %}" class="btn btn-outline-dark fa fa-backwad-arrow">Back</a>
            </ul>
            <br/>
            <div class="tab-content">
                <div class="container bg-gradient-light py-5 shadow">
                    <h3><span class="fa fa-list"></span> Upload Profile Picture</h3> 
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" enctype="multipart/form-data" style="width: 30%">
                                {% csrf_token %}
                                <label class="form-label" for="sellingPrice">Select Image <b style="color: red">*</b></label>
                                <input type="file" class="form-control" name="upload" id="electImage" onchange="loadImage(event)" accept="image/*" required>                                                
                                <div class="card shadow-sm">
                                    <img src="{{ image.image.url }}" class="card-img-top img-fluid" id="electImageOutput" alt="Product Image" height="60" width="60">
                                    <div class="card-body p-2">
                                        <p class="mb-0"><small>Uploaded on {{ image.date|date:"Y-m-d H:i" }}</small></p>
                                    </div>
                                </div>
                                <button type="submit">Upload</button>
                            </form>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        {% endblock mobile %}
        <script>
            var loadImage = function (event){
                var image = document.getElementById('electImageOutput');
                image.src = URL.createObjectURL(event.target.files[0]);    }
        </script>
    
{% endif %}
    
