{% extends "dashboardApp/rbms.html" %}
{% load static %}
{% block rbms %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 col-xl-5 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-login-image" style="background-image: url({% static 'img/rn360BG1.png' %});"></div>
                        </div>
                        <div class="col-lg-6">
                            <h1 class="text-center"><b style='color: blue'>RN</b><b style='color: red'>360</b><b style='color: black'>B</b></h1>
                            <div class="p-5">
                                <a href="{% url 'customerLogins' %}" class="btn btn-outline-dark fa fa-arrow-left"></a>
                                <div class="text-center">
                                    <h4 class="text-dark mb-4 fa fa-lock">Get New Pin</h4>
                                </div>
                                <form class="user" method="post">
                                    {% csrf_token %}                                    
                                    <!-- Phone Number with Country Code -->
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text">+233</span> <!-- Example: Ghana country code -->
                                            <input class="form-control form-control-user" type="tel" placeholder="Phone Number" name="tel" required>
                                        </div>
                                    </div>
                                    
                                    <!-- Submit -->
                                    <button class="btn btn-primary d-block btn-user w-100" type="submit">
                                        Generate Pin
                                    </button>                                    
                                    <hr>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock rbms  %}