{% extends "dashboardApp/richnet360.html" %}

{% block richnet360 %}
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation"><a class="nav-link active fa fa-building" role="tab" data-bs-toggle="tab" href="#businesses"> Businesses</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link fa fa-money" role="tab" data-bs-toggle="tab" href="#confirmPayment"> Confirm Bill Payment</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link fa fa-money" role="tab" data-bs-toggle="tab" href="#addCharges"> Update Charges</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link fa fa-check" role="tab" data-bs-toggle="tab" href="#confirmRegister"> Confirm Registration Number</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link fa fa-remove" role="tab" data-bs-toggle="tab" href="#changeStatus"> Change Business Status</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link fa fa-user" role="tab" data-bs-toggle="tab" href="#addBranch"> Users</a></li>  
        <li class="nav-item" role="presentation"><a class="nav-link fa fa-plus" role="tab" data-bs-toggle="tab" href="#addUser"> Add User</a></li>              
    </ul>
    <br/>
    <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="businesses">
            <div class="container-fluid bg-gradient-light py-5 shadow">
                <h2>Busineses</h2>
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Count</th>
                            <th>Busines</th>
                            <th>Contact</th>
                            <th>Current Bill</th>
                            <th>Arrears</th>
                            <th>Status</th>
                            <th>Registration Number</th>
                            <th>Owner</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dat in businesses %}
                            <tr class="even gradeA"> 
                                <td>{{ forloop.counter }}</td>
                                <td><b>{{ dat.busID }}</b><br/> {{ dat.busName }}</td>
                                <td>{{ dat.busTel }} <br/>{{ dat.busEmail }}</td>
                                <td>{{ dat.billRef.currentBill }}</td>
                                <td>{{ dat.billRef.arrears  }}</td>   
                                {% if dat.status == 'Active' %}
                                    <td><b style='color:green'>{{ dat.status }}</b></td> 
                                {% elif dat.status == 'Inactive' %}
                                    <td><b style='color:goldenrod'>{{ dat.status }}</b></td> 
                                {% else %}
                                    <td><b style='color:red'>{{ dat.status }}</b></td> 
                                {% endif %}                

                                <td>{{ dat.registrationNumber }}</td>
                                <td>{{ dat.busOwner }}</td>
                                <td><a href="" class="btn btn-outline-dark fa fa-money"> Transactions</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane" role="tabpanel" id="confirmRegister">
            <div class="container bg-gradient-light py-5 shadow">
                <h2>Confirm/Remove Business Registration Number</h2>
                <form class="user" method="post" action="{% url 'registrationNumber' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="tel">Busines ID</label>
                            <input class="form-control" type="text" id="busID" name="busID" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="opt">Operation Type:</label>
                            <select class="form-select" id="opt" required name="opt">
                                <option></option>
                                <option>Confirm Registration</option>
                                <option>Remove Registration</option>
                            </select>
                        </div>                        
                        <div class="col-md-6">
                            <label class="form-label" for="email">Enter Registration Number</label>
                            <input class="form-control" type="text" id="registerNumber" name="registerNumber" required>
                        </div>
                    </div> 

                     <br/>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6 button">
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>           
        </div>

        <div class="tab-pane" role="tabpanel" id="confirmPayment">
            <div class="container bg-gradient-light py-5 shadow">
                <h2>Confirm Bill Payment</h2>
                <form class="user" method="post" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="tel">Busines ID</label>
                            <input class="form-control" type="text" id="busID" name="busID" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="busType">Payment Type:</label>
                            <select class="form-select" id="opt" required name="opt">
                                <option></option>
                                <option>MoMo</option>
                                <option>Cash</option>
                                <option>Bank</option>
                            </select>
                        </div>                        
                        <div class="col-md-6">
                            <label class="form-label" for="transactionID">Transaction ID</label>
                            <input class="form-control" type="text" id="transactionID" name="transactionID">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="amount">Amount Paid</label>
                            <input class="form-control" type="number" id="amount" name="amount" required>                            
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="date">Payment Date</label>
                            <input class="form-control" type="date" id="date" name="date" required>
                        </div>
                    </div> 

                     <br/>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6 button">
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>           
        </div>        
        
        <div class="tab-pane" role="tabpanel" id="addCharges">
            <div class="container bg-gradient-light py-5 shadow">
                <h2>Charges</h2>
                <form method="post" action="{% url 'addCharges' %}">
                    {% csrf_token %}
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Count</th>
                                <th>Product</th>
                                <th>Charge</th>
                                <th>Period</th>
                                <th>Narration</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dat in charges %}
                                <tr class="even gradeA"> 
                                    <td>{{ forloop.counter }}</td>
                                    <td><b>{{ dat.product }}</b> <input type="hidden" name="product" value="{{ dat.product }}" /></td>
                                    <td><input class="form-control" type="number" id="amount" name="amount" step="any" value="{{ dat.amount }}" required></td>
                                    <td>
                                        <select class="form-select" id="period" required name="period">
                                                <option></option>                                
                                                <option {% if dat.period == 'Hourly' %} selected {% endif %}>Hourly</option>
                                                <option {% if dat.period == 'Daily' %} selected {% endif %}>Daily</option>
                                                <option {% if dat.period == 'Weekly' %} selected {% endif %}>Weekly</option>
                                                <option {% if dat.period == 'Monthly' %} selected {% endif %}>Monthly</option>                                
                                                <option {% if dat.period == 'Quarterly' %} selected {% endif %}>Quarterly</option>
                                                <option {% if dat.period == 'Semi-Annually' %} selected {% endif %}>Semi-Annually</option>
                                                <option {% if dat.period == 'Annually' %} selected {% endif %}>Annually</option>
                                                <option {% if dat.period == 'Per usage' %} selected {% endif %}>Per usage</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>{{ dat.narration }}</td> 
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6 button">
                                <button class="btn btn-primary" type="submit">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>           
        </div>

        <div class="tab-pane" role="tabpanel" id="changeStatus">
            <div class="container bg-gradient-light py-5 shadow">
                <h2>Change Business Status</h2>
                <form class="user" method="post" action="{% url 'changeBusStatus' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="tel">Busines ID</label>
                            <input class="form-control" type="text" id="busID" name="busID" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="busType">Business ID:</label>
                            <select class="form-select" id="opt" required name="opt">
                                <option></option>
                                <option value="Active">Activate Business</option>
                                <option value="Inactive">deactivate Business</option>
                                <option value="Closed">Close Business</option>
                            </select>
                        </div> 
                    </div> 
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6 button">
                                <button class="btn btn-primary" type="submit">Change Now</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>           
        </div>

        <div class="tab-pane" role="tabpanel" id="addUser">
            <div class="container bg-gradient-light py-5 shadow">
                <h2>Add User</h2>
                <form class="user" method="post">
                    {% csrf_token %} 
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="branchName">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="fname">First Name</label>
                            <input class="form-control" type="text" id="fname" name="fname" required>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label" for="surname">Surname</label>
                            <input class="form-control" type="text" id="surname" name="surname" required>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="email">Email Address</label>
                            <input class="form-control" type="text" id="email" name="email" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="tel">Tel</label>
                            <input class="form-control" type="text" id="tel" name="tel" required>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="passW1">Temporary Password</label>
                            <input class="form-control" type="password" id="passW1" name="passW1" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="passW2">Confirm Password</label>
                            <input class="form-control" type="password" id="passW2" name="passW2" required>
                        </div>
                    </div>
                    <br/>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6 button">
                                <button class="btn btn-primary" type="submit">Add User</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock richnet360 %}
